---
import Parser from "rss-parser";
import Layout from "../layouts/Layout.astro";
import { Podcast } from "../components/Podcast.tsx";
import type { Feed } from "../components/Podcast.tsx";

const DELIGHTNING_RSS_URL = "https://rss.buzzsprout.com/1258481.rss";
const parser = new Parser();
const delightningFeed = (await parser.parseURL(DELIGHTNING_RSS_URL)) as Feed;
---

<Layout>
  <section class="flex flex-col gap-8 mx-auto max-w-4xl">
    <div class="flex flex-col gap-4">
      <h1 class="text-4xl font-extrabold">Shows</h1>
      <p class="text-lg max-w-2xl">
        Here are some of the shows I've worked on. I'm always looking for new opportunities to learn
        and grow as a performer. If you have a project in mind, feel free to reach out. 🙂
      </p>
    </div>
    <Podcast feed={delightningFeed} client:load tagline="An improvised podcast gone wild." />
  </section>
</Layout>
