---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <span
    class="px-4 py-1.5
      inline-flex items-center
      rounded-full text-sm font-medium
      bg-primary text-background"
  >
    I make
  </span>
  Art with Technology
  <span class="inline-block -scale-x-100">✨</span>💻✨
</Layout>
