---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-col gap-8 mx-auto max-w-4xl">
    <div class="flex flex-col gap-4">
      <h1 class="text-4xl font-extrabold">Books</h1>
      <p class="text-lg max-w-2xl">
        Here are some of the books I'm working on. I'm always looking for new opportunities to learn
        and grow as a writer. If you have a project in mind, feel free to reach out. 🙂
      </p>
    </div>
  </section>
</Layout>
