---
import { cn } from "../lib/utils.ts";
import { Github, Linkedin } from "lucide-react";
const { class: className = "" } = Astro.props;
---

<footer
  class={cn(
    `
    p-4 flex items-center justify-between
    bg-background/60 backdrop-blur-xl
    supports-backdrop-filter:bg-background/60
  `,
    className,
  )}
>
  <div class="flex items-center gap-4">
    <a
      href="https://github.com/doubleoevan"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors hover:text-primary hover:drop-shadow-[0_0_6px_var(--color-primary)]"
    >
      <Github />
      <span class="sr-only">Github profile (opens in a new tab)</span>
    </a>
    <a
      href="https://linkedin.com/in/doubleoevan"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors hover:text-primary hover:drop-shadow-[0_0_6px_var(--color-primary)]"
    >
      <Linkedin />
      <span class="sr-only">LinkedIn profile (opens in a new tab)</span>
    </a>
  </div>

  <div>© 2026 Evan Tsao</div>
</footer>
