---
import { cn, isPathActive } from "../lib/utils.ts";
import Logo from "../components/Logo.astro";
import Link from "../components/Link.astro";
import { ThemeButton } from "./ThemeButton.tsx";
import { MenuButton } from "./MenuButton.tsx";
import { MENU_ITEMS } from "../config/menu";

const { class: className = "" } = Astro.props;
const pathname = Astro.url.pathname;
---

<header
  class={cn(
    `
      p-4 flex items-center justify-between 
      bg-background/60 backdrop-blur-xl
      supports-backdrop-filter:bg-background/60
    `,
    className,
  )}
>
  <a
    class="flex gap-2 text-xl text-primary
      transition-colors
      hover:text-primary
      hover:drop-shadow-[0_0_6px_var(--color-primary)]
      hover:drop-shadow-[0_0_16px_var(--color-primary)]"
    href="/"
  >
    <Logo /> Evan Tsao
  </a>
  <nav aria-label="Primary" class="flex justify-end gap-2 md:gap-4! items-center">
    <ul id="primary-menu" class="hidden md:flex! justify-end gap-6">
      {
        MENU_ITEMS.map((item) => (
          <li>
            <Link
              href={item.href}
              class={cn(isPathActive(pathname, item.href) && "after:w-full text-primary")}
            >
              {item.label}
            </Link>
          </li>
        ))
      }
    </ul>
    <ThemeButton client:load />
    <MenuButton className="visible md:hidden!" pathname={pathname} client:load />
  </nav>
</header>
